<html>
  <head>
  <body>

      <div id="abouttitle1">
          <h1>Love Valley Wholesale Spice Company</h1>
      </div>
    
    <div class="abouttext">
           <p>Is a locally owned and run family business started in 1993 by people that have been in the food business for
            over 40 years. We pride ourselves on quality over price so we source our products from only the best locations
            for any particular herb or spice.</p>
    </div>
    
    <div id="abouttitle2">
        <h1>Top Shelf Service</h1>
    </div>

    <div class="abouttext">
            <p>We can&rsquo;t be beat when it comes to service. No order is ever too small
              or too large. We get to know your daily spice needs by personally serving our customers on a regular basis.
              We can fill an immediate need when a menu changes because we carry what you need right on our trucks. 
              If for some reason we don&rsquo;t have a specific item that day, we&rsquo;re able to fill that need the next day
              in almost every case.</p>
    </div>

    <div id="abouttitle3">
        <h1>It&rsquo;s Always About the Customer</h1>
    </div>

    <div class="abouttext">
        <p>We&rsquo;re able to do custom blends and rubs in much smaller quantities than is required by other vendors. 
          We&rsquo;re also able to serve customers from the mountains of North Carolina all the way to Rock Hill, SC and all points 
          in between east or west.</p>
    </div>

    <div id="abouttitle4">
        <h1>When You Buy From Us</h1>
    </div>

    <div class="abouttext">
        <p> You buy from a person you know based locally here in North Carolina. 
        We are as passionate about spices as you are about good food.
        We offer unique spice blends in addition to your favorite spices. We care about quality and we are mindful of
        the price.</p>
    </div>
 

  </body>
  </head>
</html>


