<div class "page-header">
    <h1>Hello {{main.username}} from about</h1>

    <div class="text-center">
        <img src="../../../assets/imgs/lvs_spoons_aboutpage_1800px.jpg" alt="Wooden Spoons" class="responsive">
    </div>
    <br>
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h2> Love Valley Wholesale Spice Company</h2>
            <p>Is a locally owned and run family business started in 1993 by people that have been in the food business for
                over 40 years. We pride ourselves on quality over price so we source our products from only the best locations
                for any particular herb or spice. We also cannot be beat when it comes to SERVICE. No order is ever too small
                or too large. We get to know your daily spice needs by personally serving our customers on a regular basis
                and can fill an immediate need when a menu changes - or if you want to try something different because we
                carry what you need right on our trucks. If for some reason we don’t have a specific item that day, we’re
                able to fill that need the next day in almost every case. It’s ALWAYS about the customer. We are able to
                do custom blends and rubs in much smaller quantities than is required by other vendors. We are also able
                to serve customers from the mountains of NC all the way to Rock Hill SC and all points in between east or
                west.
            </p>
            <br>
        </div>
    </div>
<style>
    .responsive {
    width: 100%;
    height: auto;
}
</style>

</div>