.navbar:hover {
    color: white;
    background-color: black;
    
}

.footer {
    text-align: center;
    border-top: #FBE104;
    border-top-style: solid;
    border-top-width: 20px;
    position: fixed;
    background-color: #FA3905;
    color: #000000;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-weight: bold;
}

h4 {
    margin-bottom: 10px;
}

/* Styling for Contact.html */

#ContactForm{
margin-left:10%;
}





body, html {
    height: 100%;
}
.bg { 
    /* The image used */
    background-image: url("https://wallpapernow.net/web/wallpapers/herbs-and-spices-spices-herbs-pepper_3840x2000.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}                    
      