/* Styling for index.html */
.navbar{
    font-size: .7em;
}

.navbar-brand{
    font-size: 1.2em;
}

.navbar:hover {
    color: white;
    background-color: black;  
}

.footer {
    text-align: center;
    border-top: #FBE104;
    border-top-style: solid;
    border-top-width: 10px;
    background-color: #FA3905;
    color: #000000;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-weight: bold;
}

h6 {
    font-size: .7em;
    margin-bottom: .1em;
}

.email{
    color:#000000;
}

.email:hover {
    color: white;
    text-decoration: none;
}

h1{
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}

h2{
    color:#FA3905;
    font-size: 1em;
}

p{
    font-size: .7em;
}

.responsive {
    width: 100%;
    height: auto;
}
#one, #two, #three{
    text-decoration: none;
}

/* #gcontactbodyform { */
    body {
    /*background: url("./assets/imgs/477727257_hearts_1024px.jpg");*/
    background-image:"477727257_hearts_1024px.jpg";
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: top center;
}
























#loginContainer{
    margin: auto;
    padding: 10%;
    text-align: center;
    width: 100%;
    background-image: url("../../assets/imgs/heartdishspices.jpg");
}


.formbkgd{
    margin: auto;
    background-color: #000000;
    opacity: .7;
    width: 50%;
    padding: 5%;
}

.username, .password{
    color: #FA3905;
    opacity: 1;
}

.placeholder{
    background-color: white;
    opacity: 1;
}

.logoutContainer{
    margin: auto;
    padding: 10%;
    text-align: center;
    width: 100%;
    /* background-color: deeppink; */
    background-image: url("../../assets/imgs/chiliPepper.jpg");
}