<div align="center" class "page-header">
    <h1>Contact</h1>

    <h3>Call Tony at (704) 941-0012 or complete the form below.</h3>
    <br>
    <!--Contact Form-->
    <form id= "ContactForm">
        <div class="form-group">

        <div class="block">
            <label for="Company Name">Company Name</label>
            <input type="text" placeholder="Company Name" />
        </div>
        <br>

        <div class="block">
            <label for="Contact Name">Contact Name</label>
            <input type="text" placeholder="Contact Name" />
        </div>
        <br>

        <div class="block">
            <label for="Street Name">Street Name</label>
            <input type="text" placeholder="Street Name" />
        </div>
        <br>

        <div class="block">
            <label for="State">State</label>
            <input type="text" placeholder="State" />
        </div>
        <br>

        <div class="block">
            <label for="Zip">Zip</label>
            <input type="text" placeholder="Zip Code" />
        </div>
        <br>

        <div class="block">
            <label for="Phone">Phone</label>
            <input type="text" placeholder="Phone Number" />
        </div>
        <br>
        
        <div class="block">
            <label for="Email">Email</label>
            <input type="email" placeholder="Email Address" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <br>

        <div class="block">
            <label for="Questions/Comment">Questions/Comments</label>
            <input type="text" placeholder="Questions/Comments" />
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>