<div id="inquiryContainer" class="responsive"></div>

<div class ="formbkgd">
    <form ng-submit="inquiry.inqUser();">
    <label>Name:</label>
    <input type = "text" name="name" placeholder = "Please enter name" ng-model="inquiry.inqData.inquiryName" class="responsive">
    <br>
    <label>Email:</label>
    <input type = "text" name="email" placeholder = "Please enter email" ng-model="inquiry.inqData.inquiryEmail" class="responsive">
    <br>
    <label>Message:</label>
    <input type = "text" name="message" placeholder = "Please enter message" ng-model="inquiry.inqData.inquiryMessage" class="responsive">
    <br>
    <button type = "submit">Send Message</button>
    </form>
</div>


<div class "row show-hide-message" ng-show = "inquiry.successMessages">
    <div class = "alert alert-success">{{inquiry.successMessages}}</div>
</div> 
<div class "row show-hide-message" ng-show = "inquiry.errorMessages">
    <div class = "alert alert-danger">{{inquiry.errorMessages}}</div>
</div>

<!--  <img src = "./assets/imgs/InquiryGraphic.jpg" alt="half screen with text boxes">  -->