<div id="profileContainer" class="responsive">
    <div class= "heading">

        <h1>Welcome back {{main.username}}</h1>

    </div>

    <table class="pTable">
        <tr>
            <th>Business Name:</th>
            <td>{{ main.business }}</td>
        </tr>
        <tr>
            <th>Email Address:</th>
            <td>{{ main.email }}</td>
        </tr>
        <tr>
            <th>Phone:</th>
            <td>{{ main.phone }}</td>
        </tr>
        <tr>
            <th>Address:</th>
            <td>{{ main.address }}</td>
        </tr>
        </tr>
    </table>
    </div>
</div>