<div class "page-header">
    <img src="../../../assets/imgs/lvs_spoons_aboutpage_1800px.jpg" alt="Wooden Spoons" class="responsive">
    <h1>Welcome back {{main.username}}</h1>

</div>

<table>
    <tr>
        <td>Business Name:</td>
        <td>{{ main.business }}</td>
    </tr>
    <tr>
        <td>Email Address:</td>
        <td>{{ main.email }}</td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>{{ main.phone }}</td>
    </tr>
    <tr>
        <td>Address:</td>
        <td>{{ main.address }}</td>
    </tr>
    </tr>
</table>
</div>