<form ng-submit="register.regUser(regData);">
    <label>Business Name:</label>
    <input type = "text" name = "business" ng-model="register.regData.business">
    <br>
    <label>Username:</label>
    <input type = "text" name = "username" ng-model="register.regData.username">
    <br>
    <label>Phone Number:</label>
    <input type = "text" name = "phone" ng-model="register.regData.phone">
    <br>
    <label>Address:</label>
    <input type="text" name = "address" ng-model="register.regData.address">
    <br>
    <label>Email Address:</label>
    <input type="text" name = "email" ng-model="register.regData.email">
    <br>
    <label>Password:</label>
    <input type = "password" name = "password" ng-model="register.regData.password">
    <br>
    <button type ="submit">Register a New Client</button>
</form>

<div class "row show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success">{{register.successMsg}}</div>
</div>
<div class "row show-hide-message" ng-show="register.errorMsg">
    <div class="alert alert-danger">{{register.errorMsg}}</div>
</div>