<div class="row">

    <div class="card text-center mx-auto border border-dark" id="inquiryCard" style="width: 24rem; padding: 4%;">
        <div class="card-body">
            <form ng-submit="register.regUser(regData);">
                <label><b>Business Name:</b></label>
                <input type="text" name="business" ng-model="register.regData.business">
                <br>
                <label><b>Username:</b></label>
                <input type="text" name="username" ng-model="register.regData.username">
                <br>
                <label><b>Phone Number:</b></label>
                <input type="text" name="phone" ng-model="register.regData.phone">
                <br>
                <label><b>Address:</b></label>
                <input type="text" name="address" ng-model="register.regData.address">
                <br>
                <label><b>Email Address:</b></label>
                <input type="text" name="email" ng-model="register.regData.email">
                <br>
                <label><b>Password:</b></label>
                <input type="password" name="password" ng-model="register.regData.password">
                <hr>
                <button type="submit"><b>Register a New Client</b></button>
            </form>

            <div class "row show-hide-message" ng-show="register.successMsg">
                <div class="alert alert-success">{{register.successMsg}}</div>
            </div>
            <div class "row show-hide-message" ng-show="register.errorMsg">
                <div class="alert alert-danger">{{register.errorMsg}}</div>
            </div>

        </div>
    </div>
</div> <!-- End of Row-->