
<div class="page-header spiceheader">
    <br>
    <br>
    SPICES A-Z
    <br>
    <br>

</div>

<div class="spiceContainer">
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('A-C')">A-C</button>
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('D-F')">D-F</button>
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('G-I')">G-I</button>
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('J-L')">J-L</button>
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('M-O')">M-O</button>
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('P-R')">P-R</button>
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('S-U')">S-U</button>
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('V-Z')">V-Z</button>
</div>
<br>
<br>
    <table class="table table-striped stable">
    <thead>
        <tr>
            <td align = "left">Product Name</td>
            <td>Produce Size</td>
            <td>Price</td>
            <td>Add to Cart</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="spice in spicesCtrl.spiceData">
            <td align = "left">{{spice.productName}}</td>
            <td>{{spice.productSize}}{{spice.weightType}}</td>
            <td>${{spice.prettyBasePrice}}</td>
            <td><i class="fa fa-cart-plus order-button" ng-click="addToCart(spice)"></i></td>
        </tr>
    </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>    <br>
    <br>
