
<div class="page-header spiceheader">
    <br>
    <br>
    SPICES A-Z
    <br>
    <br>

</div>

<div class="spiceContainer">
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('A-C')">A-C</button>
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('D-F')">D-F</button>
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('G-I')">G-I</button>
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('J-L')">J-L</button>
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('M-O')">M-O</button>
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('P-R')">P-R</button>
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('S-U')">S-U</button>
    <button class="btn btn-primary" type="submit" ng-click="fetchSpices('V-Z')">V-Z</button>

</div>
<br>
<br>





<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control2 form-control mr-sm-2" type="search" placeholder="Search specific" aria-label="Search" ng-model="searchSpice">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ng-click="spicesCtrl.searched(searchSpice);fetchSpices('A-Z')">Search</button>
        &nbsp;
        <button class="btn btn-primary" type="submit" ng-click="fetchSpices('A-Z')">All Spices</button>
        &nbsp;
        <button class="btn btn3 btn-outline-success my-2 my-sm-0" type="submit" ng-click="spicesCtrl.clear();">Clear</button>

        <div ng-show="spiceFilter !== undefined">
        <p><h1>&nbsp;&nbsp;&nbsp;&nbsp;Total results: {{ (spicesCtrl.spiceData | filter: spiceFilter).length }}</h1></p>
        </div>
    </form>
</nav>

    <table class="table table-striped stable">
    <thead>
        <tr>
            <td align = "left">Product Name</td>
            <td>Produce Size</td>
            <td ng-show="main.isLoggedIn">Price</td>
            <td ng-show="main.isLoggedIn">Add to Cart</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="spice in spicesCtrl.spiceData | filter: spiceFilter">
            <td align = "left">{{spice.productName}}</td>
            <td>{{spice.productSize}}{{spice.weightType}}</td>
            <td ng-show="main.isLoggedIn">${{spice.prettyBasePrice}}</td>
            <td><i class="fa fa-cart-plus order-button" ng-click="addToCart(spice)" ng-show="main.isLoggedIn"></i></td>
        </tr>
    </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>    <br>
    <br>
    <!-- spicesCtrl.searched(searchSpice) -->