<h1> Hello {{main.username}}, welcome to admin!</h1>

<p>Register a new user</p>
<input type="button" onclick="location.href='http://localhost:8080/#!/register';" value="Register" />


<p>Edit users</p>
<input type="button" onclick="location.href='http://localhost:8080/#!/management';" value="Users" />

<p>View messages</p>
<input type="button" onclick="location.href='http://localhost:8080/#!/requests';" value="Messages" />

<p>View orders</p>
<input type="button" onclick="location.href='http://localhost:8080/#!/adminorders';" value="Orders" />