<div id="profileContainer2" class="responsive">
        <div class="profileWrapper">
          <div class="profileheading">
                <h1> Hello {{main.username}}, welcome to admin!</h1>
          </div>
          <table class="pTable">
              <tr class="hrtag">
                  <th>Register a new user&nbsp;&nbsp;</th>
                  <td><input type="button" class="btn btn-primary" onclick="location.href='https://lovevalleyspices.herokuapp.com/#!/register';" value="&ensp;Register&ensp;" /></td>
              </tr>

              <tr class="hrtag">
                  <th>User Management&nbsp;&nbsp;</th>
                  <td><input type="button" class="btn btn-primary"onclick="location.href='https://lovevalleyspices.herokuapp.com/#!/management';" value="&ensp;&ensp;Users&ensp;&ensp;" />
                  </td>
              </tr>

              <tr class="hrtag">
                  <th>View Messages&nbsp;&nbsp;</th>
                  <td><input type="button" class="btn btn-primary" onclick="location.href='https://lovevalleyspices.herokuapp.com/#!/requests';" value="Messages" />
                </td>
              </tr>
          </table>   
       </div>
    <br>
    <br>
    