<div id="profileContainer2" class="responsive">
        <div class="profileWrapper">
          <div class="profileheading">
                <h1> Hello {{main.username}}, welcome to admin!</h1>
          </div>
          <table class="pTable">
              <tr class="hrtag">
                  <th>Register a new user</th>
                  <td><input type="button" onclick="location.href='http://localhost:8080/#!/register';" value="&ensp;Register&ensp;" /></td>
              </tr>

              <tr class="hrtag">
                  <th>User Management</th>
                  <td><input type="button" onclick="location.href='http://localhost:8080/#!/management';" value="&ensp;&ensp;Users&ensp;&ensp;" />
                  </td>
              </tr>

              <tr class="hrtag">
                  <th>View Messages</th>
                  <td><input type="button" onclick="location.href='http://localhost:8080/#!/requests';" value="Messages" />
                </td>
              </tr>
          </table>   
       </div>
    <br>
    <br>
    