<div class="panel panel-primary">
<div class="panel-heading">
    <strong>User Management</strong>
</div>
<table class="table">
    <tr>
        <th>Business Name</th>
        <th>Username</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Email</th>
    </tr>
    <tr ng-repeat = "person in management.users">
        <td>{{ person.business }}</td>
        <td>{{ person.username }}</td>
        <td>{{ person.phone }}</td>
        <td>{{ person.address }}</td>
        <td>{{ person.email }}</td>
        <td>
            <a href="#!/management">
                <button type="button" ng-click ="management.deleteUser(person.username);" ng-show="management.editAccess">Deactivate</button>
            </a>
        </td>
    </tr>
</table>
</div>

