<h1>Admin Page</h1>

<table>
    <tr>
        <th>Business Name</th>
        <th>Username</th>
        <th>Phone</th>
        <th>Address</th>
        <th>password</th>
        <th>Email</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
            <a href="#">
                <button type="button">Edit</button>
            </a>
            <a href="#">
                <button type="button">Delete</button>
            </a>
        </th>
        
    </tr>
</table>

    


        <div class "row show-hide-message" ng-show="management.successMsg">
            <div class="alert alert-success">{{management.successMsg}}</div>
        </div>
        <div class "row show-hide-message" ng-show="management.errorMsg">
            <div class="alert alert-danger">{{management.errorMsg}}</div>
        </div>

    