<div class="clientManagement">
        NEW REQUESTS
        </div>
        <div class ="managementUser">
        
  <table class= "table">
        <tr class = "bg-warning">
            <th scope="col">#</th>
            <th scope="col">Company Name</th>
            <th scope="col">Contact Name</th>
            <th scope="col">Street Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Message</th>
        </tr>
        <tr ng-repeat="ninja in requests.contacts">
            <td>{{$index + 1}}</td>
            <td>{{ninja.companyName}}</td>
            <td>{{ninja.contactName}}</td>
            <td>{{ninja.streetAddress}}</td>
            <td>{{ninja.city}}</td>
            <td>{{ninja.state}}</td>
            <td>{{ninja.zip}}</td>
            <td>{{ninja.phone}}</td>
            <td>{{ninja.email}}</td>
            <td>{{ninja.message}}</td>
        </tr>
    </table>
</div>

