  <table class= "table">
        <tr class = "bg-warning">
            <th scope="col">Company Name</th>
            <th scope="col">Contact Name</th>
            <th scope="col">Street Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Message</th>
        </tr>
        <tr ng-repeat="message in reqCtrl.contacts">
            <td>{{$index + 1}}</td>
            <td>{{message.companyName}}</td>
            <td>{{message.contactName}}</td>
            <td>{{message.streetAddress}}</td>
            <td>{{message.city}}</td>
            <td>{{message.state}}</td>
            <td>{{message.zip}}</td>
            <td>{{message.phone}}</td>
            <td>{{message.email}}</td>
            <td>{{message.message}}</td>
        </tr>
    </table>
</div>

